body{
	margin: 0;
	padding: 0;
	background: url(../gg.png);
	background-size: cover;
}
ul{
	float: center;
	list-style-type: none;
	margin-top: 20px;
	margin-right: 20px;
	padding: 20px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
}

ul li a:hover{
	background-color: green;
	color: #000;
}
.rox{
	width: 450px;
	background: rgba(0,0,0,0.5);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Century Gothic' sans-serif;
}

.rox-img{
	border-radius: 70%;
	width: 300px;
	height: 300px;
	border-radius-color: yellow;
}
h1{
 text-shadow: 3px 3px 3px #008000,
      -3px -3px 3px blue;
      font-size: 36px;

  }
